@page
@model LoginAspNetCoreEFCore.Pages.UsuariosModel
@{
}

@if (Model.Usuarios.Any())
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Usuario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.Usuarios)
            {
                <tr>
                    <td>@usuario.UsuarioId</td>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Username</td>
                    <td>
                        <a asp-page="/Editar" asp-route-Id="@usuario.UsuarioId" class="btn btn-warning">
                            Editar
                        </a>
                        <a asp-page="/Editar" asp-page-handler="Apagar" asp-route-Id="@usuario.UsuarioId" class="btn btn-danger">
                            Remover
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-center">Nenhum usuário encontrado</h2>
}